body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .25fr 0.5fr 1fr 3fr .25fr;
    grid-template-areas:
        "navbar navbar navbar navbar"
        "header header header header"
        "info info info info"
        "boxes boxes boxes boxes"
        "footer footer footer footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    align-items: stretch;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #00979D;
}

.navbar ul li {
    flex: 1;
    /* aligns link boxes to middle*/
    text-align: center;
    /* aligns link text to middle*/
}

.navbar ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #44616b;
}

.header {
    grid-area: header;
}

.info {
    grid-area: info;
}

.boxes {
    grid-area: boxes;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.box {
    background: #00979D;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 350px;
}

.box img {
    width: 100%;
    height: auto;
    /* helps image rezize when window changes size*/
}

button {
    background: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
}

button:hover {
    background: #ff6600;
}

.footer {
    grid-area: footer;
    background-color: thistle;
}

h1, h2, h3 {
    margin: 5px;
}