body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
p {
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: .25fr .5fr 1.5fr 2.5fr 1fr;
    grid-template-areas:
        "navbar navbar"
        "header header"
        "info pics"
        "specs pics"
        "footer footer";
}

.navbar {
    grid-area: navbar;
    display: flex;
    align-items: stretch;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    background-color: #00979D;
}

.navbar ul li {
    flex: 1;
    /* aligns link boxes to middle*/
    text-align: center;
    /* aligns link text to middle*/
}

.navbar ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #44616b;
}

.header {
    grid-area: header;
}

.info {
    grid-area: info;
}

.pics {
    grid-area: pics;
    justify-content: center;
    align-items: center;
}

.specs {
    grid-area: specs;
}

.footer {
    grid-area: footer;
    background-color: aquamarine;
}

.pics img {
    padding-left: 150px;
    width: 350px;
}